


<center>
    <img src="https://s3.us-east-1.wasabisys.com/imasd/2022/10/Logo-UCU-001-FINAL-03_ID_Uruguay.jpg" alt="Logo UCU" width="300" height="169">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Estilos para el encabezado h1 */
        h1 {
            color: #233670; /* Color del texto */
            font-family: Calibri, sans-serif; /* Familia de fuente */
            font-size: 60px; /* Tamaño de fuente */
            font-weight: bold; /* Peso de fuente (negrita) */
        }
    </style>
    <title>Tu Página</title>
    </head>
    <body>
    <h1>Bienvenido</h1>
</body>
    @if (ViewBag.Mensaje != null)
    {
        <p>Mensaje: @ViewBag.Mensaje</p>
    }
</center>